# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
*.log
npm-debug.log*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# typescript
*.ts-build-info